{% extends "base.html" %}
{% load humanize %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block title %}
    Feeds
{% endblock title %}

          {% block content %}


    <div class="feed"><!-- main feed starts here -->
      <div class="container">
        <table>
          <td id="feed-l"><!-- left side of the feed -->


          <div class="pro-box"><!-- box showing own profile starts here-->
            <div class="pb-cover-photo"></div><!-- Cover photo uploaded by user -->
              <div >
              {% thumbnail request.user.picture "x30" as im %}
                        <img class="pb-big-pfp" src="{{ im.url }}"  alt="{% trans 'User Image' %}" >
                      {% empty %}
                        <img class="pb-big-pfp" src="{% static 'img/avatar1.png' %}" alt="{% trans 'No Profile Picture' %}" />
              {% endthumbnail %}
              </div><!-- SYNTAX pfp="profile picture",nav-pfp="profile picture inside the navigation" -->
            <div class="pb-container"><!-- main content starts here -->
              <h3>{{ user.name }}</h3>
              <h5>{{ user.job_title }}</h5>
              <table style="width:100%;">
                <td>24k <br><span>Following</span></td>
                <td>789 <br><span>Followers</span></td>
                <td>456 <br><span>Ideas</span> </td>
              </table>
            </div><!-- main content ends here -->
          </div><!-- box showing own profile ends here -->



          <div class="friends"><!-- box containing list of friends starts here-->
            <ul>
            <li><h2>Friends</h2></li>
            <li>
              <table style="width:100%;">
                <td id="f-l">
                  <div class="p-author">
                    <div class="p-pfp"><img src="{% static 'img/avatar1.png' %}"></div>
                    <div id="p-a-name">{{ user.name }}</div>
                  </div>
                </td>
                <td id="f-r">23 min</td>
              </table>
            </li>
            <li>
              <table style="width:100%;">
                <td id="f-l">
                  <div class="p-author">
                    <div class="p-pfp"><img src="{% static 'img/avatar1.png' %}"></div>
                    <div id="p-a-name">{{ user.name }}</div>
                  </div>
                </td>
                <td id="f-r">23 min</td>
              </table>
            </li>
            <li>
              <table style="width:100%;">
                <td id="f-l">
                  <div class="p-author">
                    <div class="p-pfp"><img src="{% static 'img/avatar1.png' %}"></div>
                    <div id="p-a-name">{{ user.name }}</div>
                  </div>
                </td>
                <td id="f-r">23 min</td>
              </table>
            </li>
            <li>
              <table style="width:100%;">
                <td id="f-l">
                  <div class="p-author">
                    <div class="p-pfp"><img src="{% static 'img/avatar1.png' %}"></div>
                    <div id="p-a-name">{{ user.name }}</div>
                  </div>
                </td>
                <td id="f-r">23 min</td>
              </table>
            </li>
            <li>
              <table style="width:100%;">
                <td id="f-l">
                  <div class="p-author">
                    <div class="p-pfp"><img src="{% static 'img/avatar1.png' %}"></div>
                    <div id="p-a-name">{{ user.name }}</div>
                  </div>
                </td>
                <td id="f-r">23 min</td>
              </table>
            </li>
            <li>
              <table style="width:100%;">
                <td id="f-l">
                  <div class="p-author">
                    <div class="p-pfp"><img src="{% static 'img/avatar1.png' %}"></div>
                    <div id="p-a-name">{{ user.name }}</div>
                  </div>
                </td>
                <td id="f-r">23 min</td>
              </table>
            </li>
            <li>
              <table style="width:100%;">
                <td id="f-l">
                  <div class="p-author">
                    <div class="p-pfp"><img src="{% static 'img/avatar1.png' %}"></div>
                    <div id="p-a-name">{{ user.name }}</div>
                  </div>
                </td>
                <td id="f-r">23 min</td>
              </table>
            </li>
            <li>
              <table style="width:100%;">
                <td id="f-l">
                  <div class="p-author">
                    <div class="p-pfp"><img src="{% static 'img/avatar1.png' %}"></div>
                    <div id="p-a-name">{{ user.name }}</div>
                  </div>
                </td>
                <td id="f-r">23 min</td>
              </table>
            </li>
            <li>
              <table style="width:100%;">
                <td id="f-l">
                  <div class="p-author">
                    <div class="p-pfp"><img src="{% static 'img/avatar1.png' %}"></div>
                    <div id="p-a-name">{{ user.name }}</div>
                  </div>
                </td>
                <td id="f-r">23 min</td>
              </table>
            </li>
            <li style="text-align:center;">See All</li>
          <ul>
          </div><!-- box containing list of friends ends here -->

        </td><!-- left side of the feed ends here-->
        <td id="feed-r"><!-- right side of the feed-->


          <!-- POST--------------------------------------------------------------->
          {% for article in articles %}
          <div class="post">
              <table class="p-header">
                  <td id="p-h-l">
                      <div class="p-author">
                        <div class="p-pfp"><img src="{% static 'img/avatar1.png' %}"></div>
                        <div id="p-a-name"><a href="{% url 'users:detail' article.user.username %}">{{ article.user.get_profile_name|title }}</a></div>
                      </div>
                  </td>
                  <td id="p-h-m"><button class="follow-b" type="button" name="submit" id="button">Follow</button></td>
                  <td id="p-h-r"><div id="p-time"><img src="{% static 'img/Clock.png' %}"> {{ article.timestamp|naturaltime }}
                  <div id="p-menu"><svg width="3" height="15" viewBox="0 0 3 15"><path d="M0 1.5a1.5 1.5 0 1 1 3 0 1.5 1.5 0 1 1-3 0M0 7.5a1.5 1.5 0 1 1 3 0 1.5 1.5 0 1 1-3 0M0 13.5a1.5 1.5 0 1 1 3 0 1.5 1.5 0 1 1-3 0"></path></svg></div>
                  <div id="p-m" style="display:none;"><ul><li>Report abusive content</li><li>Report irrelevant content</li></ul></div>
                  </div></td>
              </table>
              <div class="p-bottom">
                  <h3 id="p-title">{{ article.title|title }}</h3>
                  <p id="p-content">{{ article.get_markdown|safe|truncatechars:150 }}</p>
                  {% thumbnail article.image "750x300" as im %}
                  <img id="p-img" src="{{ im.url }}" alt="{% trans 'Featured Image' %}">
                  {% empty %}
                  <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
                  {% endthumbnail %}
                  <div class="p-footer">
                  <div id="p-like"><span></span> 4k</div>
                  <div id="p-comment"><span></span> 34</div>
                  <button class="p-share" type="button" name="submit" id="button">SHARE</button>
                  <a href="{% url 'articles:article' article.slug %}" class="p-bti">{% trans 'Back this idea' %} &rarr;</a>
                  <!--<button class="p-bti" type="button" name="submit" id="button">Back this idea</button>-->
              </div>
              </div>
          </div>
              {% empty %}
          <h4 class="no-data">{% trans 'There is no published article yet' %}. <a href="{% url 'articles:write_new' %}">{% trans 'Be the first one to publish one' %}!</a></h4>
          {% endfor %}
        <div class="comments">
          <h3>Comments</h3>
        </div>



      </td>
    </table>
  </div>
</div>


          {% endblock content %}

      {% block javascript %}

          <style>

          .p-bottom {
          margin-left: 0px;
          }
          @media only screen and (max-width: 955px) {
              #web-version {
                display:none;
              }
              #mobile-version {
                display:block;
              }
              .web-nav,#feed-l,.uploadpost {
                display:none;
              }
              .mobile-nav,.close-m-search svg,.m-search {
                display:block;
              }
              .main-l-c{
                width:100%;
              }
              .main-r-c{
                width:100%;
              }
              .searches {
                height:100%;
                margin-bottom:50px;
                margin-top:0;
                width:100%;
                z-index:1;
                box-shadow: none;
              }
              .notifications {
                width:100%;
                height:100%;
                box-shadow: none;
                z-index:1;
                margin:0;
                left: 50%;
                transform: translate(-50%, 0);

              }

              #t-not {
                position: relative;
              }
              #not{
                width:200px;
              }

              .feed {
                padding-top:0px;
                padding-bottom: 50px;
              }
              .post{
                max-width: none;
              }
          }

          </style>
      {% endblock javascript %}


