<!DOCTYPE html>
<html>
  <head>

    <title></title>
    <link rel="stylesheet" href="style/main.css">
    <link rel="stylesheet" href="style/select.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  </head>
  <body>



<!-- NAVIGATION STARTS HERE ------------------------------------------------->
      <div class="web-nav" ><!-- Website navigation starts here-->

        <ul class="menu"><!-- Menu starts here-->
          <li id="home-b"><img src="img/home2.png"></li><!-- home button-->
          <li id="notificaion-b"><img src="img/bell2.png"></li><!-- notificaion button-->
          <li><div id="pfp" class="nav-pfp"></div></li><!-- SYNTAX pfp="profile picture",nav-pfp="profile picture inside the navigation" -->
          <li><div id="nav-name">John Doe</div></li><!-- SYNTAX nav-name="full name of the user"-->
        </ul><!-- Menu ends here-->

        <div class="search"><!-- Search inside top bar starts here-->
          <form action="#">
            <input type="text" placeholder="Search something.." name="search">
            <button type="submit"><img src="img/search2.png"></button>
          </form>
        </div><!-- Search inside top bar ends here -->

      </div><!-- Website navigation ends here-->


        <div class="searches" style="display:none;"><!-- Recent search box, set to display:none, shows when ".search" is clicked-->
          <div class="container-m">

          <!-- PART BELOW IS ONLY DISPLAYED ON MOBILE -->
          <div class="close-m-search"><!-- Button to close the search box starts here-->
            <svg width="18" height="18" viewBox="0 0 10 10"><path d="M6.32 5L10 8.68 8.68 10 5 6.32 1.32 10 0 8.68 3.68 5 0 1.32 1.32 0 5 3.68 8.68 0 10 1.32 6.32 5z"></path></svg>
          </div><!-- Button to close the search box ends here-->
          <div class="m-search"><!-- Search inside search box for mobile view starts here-->
            <form action="#">
              <input type="text" placeholder="Search something.." name="search">
              <button type="submit"><img src="img/search2.png"></button>
            </form>
          </div><!-- Search inside search box for mobile view ends here -->
          <!-- PART ABOVE IS ONLY DISPLAYED ON MOBILE-->


          <div class="s-post"><!-- Post recently searched with image starts here , SYNTAX s-post="post inside search box"-->
            <table class="p-header"><!-- Post header starts here-->
              <td id="p-h-l"><!-- left side of the header starts here ,SYNTAX p-h-l="post header left"-->
                <div class="p-author">
                    <div class="p-pfp"><img src="img/avatar1.png"></div>
                    <div id="p-a-name">John Doe</div>
                </div>
              </td><!-- left side of the header ends here -->
              <td id="p-h-r"><!-- right side of the header starts here ,SYNTAX p-h-r="post header right"-->
                    <div id="s-p-time"><img src="img/Clock.png"> 2 hr </div>
              </td>
            </table><!-- Post header ends here -->
            <div class="s-p-bottom"><!-- main content of the post starts here -->
              <h3 id="p-title">Barcelona Trip</h3><!-- post title-->
              <p id="p-content">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p><!-- content of the post-->
              <img id="p-img" src="img/cover.jpeg"><!-- image uploaded inside the post -->
              <div class="p-footer"><!-- post footer starts here -->
                <div id="p-like"><span></span> 4k</div><!-- like button-->
                <div id="p-comment"><span></span> 34</div><!-- comment button -->
              </div><!-- post footer ends here -->
            </div><!-- main content of the post ends here -->
          </div><!-- Post recently searched with image starts here -->



          <div class="s-post"><!-- Post recently searched without image starts here , SYNTAX s-post="post inside search box"-->
            <table class="p-header"><!-- Post header starts here-->
              <td id="p-h-l"><!-- left side of the header starts here ,SYNTAX p-h-l="post header left"-->
                <div class="p-author">
                    <div class="p-pfp"><img src="img/avatar1.png"></div>
                    <div id="p-a-name">John Doe</div>
                </div>
              </td><!-- left side of the header ends here -->
              <td id="p-h-r"><!-- right side of the header starts here ,SYNTAX p-h-r="post header right"-->
                    <div id="s-p-time"><img src="img/Clock.png"> 2 hr </div>
              </td>
            </table><!-- Post header ends here -->
            <div class="s-p-bottom"><!-- main content of the post starts here -->
              <h3 id="p-title">Lorem ipsum</h3><!-- post title-->
              <p id="p-content">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p><!-- content of the post-->
              <div class="p-footer"><!-- post footer starts here -->
                <div id="p-like"><span></span> 4k</div><!-- like button-->
                <div id="p-comment"><span></span> 34</div><!-- comment button -->
              </div><!-- post footer ends here -->
            </div><!-- main content of the post ends here -->
          </div><!-- Post recently searched without image starts here -->
        </div>
        </div><!-- Recent search box ends here-->


        <div class="notifications" style="display:none;"><!-- notificaion box, set to display:none, shows when "notification-b" is clicked-->
          <div class="container-m">
          <ul>
            <li><!-- one notificaion -->
                <div class="small-pfp"><img src="img/avatar1.png"></div>
                <div id="not">John Doe Started Following you</div>
                <div id="t-not">23 min</div>
            </li>
            <li><!-- one notificaion -->
                <div class="small-pfp"><img src="img/avatar1.png"></div>
                <div id="not">John Doe, Jane Smith and 3 others liked your post.</div>
                <div id="t-not">1 hr</div>
            </li>
          </ul>
          </div>
        </div><!-- notificaion box ends here -->


            <div class="uploadpostmobile" style="display:none;"><!-- menu to upload post on mobile-->
              <div class="container-m" style="padding-bottom: 50px;">
                <form action="#" id="uploadpostform">
                  <table style="padding:30px 0 20px;">
                    <td id="p-h-l">
                      <div class="p-author">
                        <div class="p-pfp"><img src="img/avatar1.png"></div>
                        <div id="p-a-name">John Doe</div>
                      </div>
                    </td>
                    <td><button id="button" class="bb" type="submit">POST</button></td><!-- button to submit post -->
                  </table>
                  <div class="up-title"><textarea type="text" form="uploadpostform" placeholder="What are you upto today?" name="post-title"></textarea></div>
                  <div class="up-body"><textarea type="text" form="uploadpostform" name="post-body" style="min-height:200px;" ></textarea></div>
                        <div class="pretty p-switch p-fill"><input type="checkbox"><div class="state"><label></label></div><div class="categoryname">design</div></div>
                        <div class="pretty p-switch p-fill"><input type="checkbox"><div class="state"><label></label></div><div class="categoryname">photography</div></div>
                        <div class="pretty p-switch p-fill"><input type="checkbox"><div class="state"><label></label></div><div class="categoryname">visual arts</div></div>
                        <div class="pretty p-switch p-fill"><input type="checkbox"><div class="state"><label></label></div><div class="categoryname">branding</div></div>
                        <div class="pretty p-switch p-fill"><input type="checkbox"><div class="state"><label></label></div><div class="categoryname">UX Design</div></div>
                        <div class="pretty p-switch p-fill"><input type="checkbox"><div class="state"><label></label></div><div class="categoryname">journalism</div></div>
                  <table>
                      <td>Up for backing:</td>
                        <td><!-- checkbox for backup -->
                          <label class="switch">
                          <input type="checkbox">
                          <span class="slider round"></span>
                          </label>
                        </td><!-- checkbox for backup ends here-->
                  </table>
                  <table id="up-b-share">
                      <td style="width:140px;">You can also add:</td>
                          <!-- button to upload picture along with post -->
                          <td id="m-up-b-picture"><svg width="18" height="15" viewBox="0 0 16 13"><path d="M9.3 7.1l-.7-.7c.1-.1.2-.2.6-.5.9-.8.9-2.2.1-3l-.1-.1c-.8-.8-2.3-.8-3.1.1L1.6 7.3c-.9.9-.9 2.3 0 3.1l.2.2c.8.8 2 .8 2.8.1l.7.7c-1.2 1.1-3 1-4.2-.1l-.2-.2C-.3 9.9-.3 7.8.9 6.6l4.4-4.4C6.6.9 8.6.9 9.9 2.2l.1.1c1.2 1.3 1.1 3.2-.1 4.4-.3.2-.5.4-.6.4z"></path><path d="M6.8 4.7l.7.7-.7.7c-.9.9-.9 2.3 0 3.2.9.9 2.3.9 3.1 0l4.5-4.5c.9-.9.9-2.3 0-3.1l-.1-.1c-.7-.7-1.9-.7-2.7 0l-.1.1-.8-.7.1-.1c1.1-1.1 3-1.1 4.1 0l.2.1c1.2 1.2 1.2 3.3 0 4.5L10.6 10c-1.2 1.2-3.3 1.2-4.5 0-1.3-1.3-1.3-3.3 0-4.5l.7-.8z"></path></svg></td>
                          <!-- button to attach people along with post-->
                          <td id="m-up-b-people"><svg width="20" height="20" viewBox="0 0 16 16"><path d="M4 13.7c1.1.8 2.5 1.3 4 1.3s2.9-.5 4-1.3v-1.2c0-.8-.7-1.5-1.5-1.5h-5c-.8 0-1.5.7-1.5 1.5v1.2zm-1-.8v-.4C3 11.1 4.1 10 5.5 10h5c1.4 0 2.5 1.1 2.5 2.5v.4c1.2-1.3 2-3 2-4.9 0-3.9-3.1-7-7-7S1 4.1 1 8c0 1.9.8 3.6 2 4.9zM8 16c-4.4 0-8-3.6-8-8s3.6-8 8-8 8 3.6 8 8-3.6 8-8 8z"></path><path d="M8 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 1C6.3 9 5 7.7 5 6s1.3-3 3-3 3 1.3 3 3-1.3 3-3 3z"></path></svg></td>
                          <!-- button to attach location with post-->
                          <td id="m-up-b-location"><svg width="20" height="20" viewBox="0 0 18 18"><path d="M9 0c.3 0 .6.3.6.6v2.5c0 .3-.3.6-.6.6s-.6-.3-.6-.6V.6c0-.3.3-.6.6-.6zm0 14.4c.3 0 .6.3.6.6v2.5c0 .3-.3.6-.6.6s-.6-.3-.6-.6V15c0-.4.3-.6.6-.6zM14.4 9c0-.3.3-.6.6-.6h2.5c.2.1.5.3.5.6s-.3.6-.6.6h-2.5c-.3 0-.5-.3-.5-.6zM0 9c0-.3.3-.6.6-.6h2.5c.3 0 .6.3.6.6s-.3.6-.6.6H.6C.3 9.6 0 9.3 0 9zm2.1-6.6c.2-.2.6-.2.8 0l1.8 1.8c.2.2.2.6 0 .8-.2.2-.6.2-.8 0L2.1 3.2c-.2-.2-.2-.6 0-.8zm11 2.6c-.2-.2-.2-.6 0-.8l1.8-1.8c.2-.2.6-.2.8 0 .2.2.2.6 0 .8L13.9 5c-.2.2-.6.2-.8 0zm2.6 10.7c-.2.2-.6.2-.8 0l-1.8-1.8c-.2-.2-.2-.6 0-.8.2-.2.6-.2.8 0l1.8 1.8c.2.2.2.6 0 .8zm-11-2.6c.2.2.2.6 0 .8l-1.8 1.8c-.2.2-.6.2-.8 0-.2-.2-.2-.6 0-.8l1.8-1.8c.2-.2.6-.2.8 0zM5 9a4 4 0 1 1 8 0 4 4 0 1 1-8 0"></path></svg></td>
                  </table>
                  <div class="m-up-picture">
                  <p>Attach a picture</p>
                  <input type="file" name="fileToUpload" id="fileToUpload">
                  </div>
                  <div class="m-up-people">
                  <p>Link people</p>
                  <input type="text" name="peopleToUpload" id="peopleToUpload">
                  </div>
                  <div class="m-up-location">
                  <p>Attach a location</p>
                  <input type="text" name="locationToUpload" id="locationToUpload">
                  </div>
                  </form>
              </div>
            </div><!-- menu to upload post on mobile ends here-->

        <div class="mobile-nav"><!-- mobile navigation starts here -->
          <div class="m-n-c">
            <ul class="m-menu">
                <li id="m-home"><svg width="18" height="18" viewBox="4 -4 24 24"><path d="M21 14h1V4h-1v10zm3 0h1V4h-1v10zM27 .7L16-2.9 5 .7V2h22V.7zm1-.7v3H4V0l12-4 12 4zM5 19h22v-3H5v3zm23-3v3c0 .6-.4 1-1 1H5c-.6 0-1-.4-1-1v-3c0-.6.4-1 1-1h22c.6 0 1 .4 1 1zm-18-2h1V4h-1v10zm-3 0h1V4H7v10z"></path></svg></li><!-- takes user back to home-->
                <li id="m-search"><svg width="20" height="20" viewBox="0 0 20 20"><path d="M8.5 14a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zm4.936-1.27l4.418 4.416-.708.708-4.417-4.418a6.5 6.5 0 1 1 .707-.707z"></path></svg></li><!-- opens "recent search box" on tap -->
                <li id="m-upload"><svg width="14" height="14" viewBox="0 0 10 10"><path d="M6 4h4v2H6v4H4V6H0V4h4V0h2v4z"></path></svg></li><!-- opens "uploadpostmobile" on tap-->
                <li id="m-notificaion"><svg width="14" height="16" viewBox="0 0 14 16"><path d="M11.199 9.9a.5.5 0 0 1-.2-.4V6.23a4 4 0 0 0-3.99-4A3.989 3.989 0 0 0 3.01 6.206L3 9.52a.5.5 0 0 1-.202.4L1 11.252V13h12v-1.75L11.199 9.9zM4.55 14H.5a.5.5 0 0 1-.5-.5V11a.5.5 0 0 1 .202-.402l1.799-1.333.01-3.062A4.99 4.99 0 0 1 6.5 1.254V0h1v1.254a5 5 0 0 1 4.498 4.975v3.02L13.8 10.6a.5.5 0 0 1 .2.4v2.5a.5.5 0 0 1-.5.5H9.45a2.5 2.5 0 0 1-4.9 0zm1.035 0a1.5 1.5 0 0 0 2.83 0h-2.83z"></path></svg></li><!-- shows notificaion box on tap -->
                <li id="m-user"><svg width="20" height="20" viewBox="0 0 20 20"><path d="M10 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 1a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm-5 8H4v-2.48a4.5 4.5 0 0 1 4.5-4.5l3.022.014a4.5 4.5 0 0 1 4.478 4.5V18h-1v-2.466a3.5 3.5 0 0 0-3.483-3.5l-3-.015A3.504 3.504 0 0 0 5 15.52V18z"></path></svg></li> <!-- opens user profile on tap-->
            </ul>
          </div>
        </div><!-- mobile navigation ends here -->

    <!-- NAVIGATION ENDS HERE------------------------------------------------------>

<div class="cover-photo"></div><!-- Cover photo uploaded by user -->

<div class="container" style="padding-bottom:50px;"><!-- main content starts here -->
  <div id="pfp" class="big-pfp"></div><!-- SYNTAX big-pfp="profile picture shown in normal size" -->
  <table id="edit-links" style="width:100%;padding:10px;"><!-- table containing links to edit pfp and cover-photo starts here -->
    <td id="e-l-l"><a href="#">Change profile picture</a></td>
    <td id="e-l-r"><a href="#">Change cover photo</a></td>
  </table><!-- table containing links to edit pfp and cover-photo ends here -->

<div class="setting-c" style="width:100%;padding-top:80px;"><!-- Main content starts here -->
    <form action="" id="profile_details">
        <p>Name</p>
          <input type="text" name="name"><br>
        <p>Username</p>
          <input type="text" name="username"><br>
        <p>Bio</p>
          <input type="text" name="bio"><br>
        <p>Occupation</p>
          <input type="text" name="occupation"><br>
        <p>Qualifications</p>
          <input type="text" name="qualifications"><br>
      <h3>Personal Info</h3>
        <p>Email Address</p>
          <input type="text" name="email"><br>
        <p>Phone</p>
          <input type="text" name="phone"><br>
        <p>Gender</p>
          <select name="gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Not Listed</option>
            <option value="none">Prefer not to specify</option>
          </select><br>
      <h3>Hobbies</h3>
      <div class="pretty p-switch p-fill"><input type="checkbox"><div class="state"><label></label></div><div class="categoryname">design</div></div>
      <div class="pretty p-switch p-fill"><input type="checkbox"><div class="state"><label></label></div><div class="categoryname">photography</div></div>
      <div class="pretty p-switch p-fill"><input type="checkbox"><div class="state"><label></label></div><div class="categoryname">visual arts</div></div>
      <div class="pretty p-switch p-fill"><input type="checkbox"><div class="state"><label></label></div><div class="categoryname">branding</div></div>
      <h3>Places of Interest</h3>
      <div class="pretty p-switch p-fill"><input type="checkbox"><div class="state"><label></label></div><div class="categoryname">Paris,France</div></div>
      <div class="pretty p-switch p-fill"><input type="checkbox"><div class="state"><label></label></div><div class="categoryname">London,UK</div></div>
      <div class="pretty p-switch p-fill"><input type="checkbox"><div class="state"><label></label></div><div class="categoryname">Brooklyn,NY</div></div>
      <h3>Likes/Things I Like</h3>
      <div class="pretty p-switch p-fill"><input type="checkbox"><div class="state"><label></label></div><div class="categoryname">visual arts</div></div>
      <div class="pretty p-switch p-fill"><input type="checkbox"><div class="state"><label></label></div><div class="categoryname">opera/theatre</div></div>
      <div class="pretty p-switch p-fill"><input type="checkbox"><div class="state"><label></label></div><div class="categoryname">summer</div></div>
      <h3>Dislikes/Things I don't Like</h3>
      <div class="pretty p-switch p-fill"><input type="checkbox"><div class="state"><label></label></div><div class="categoryname">bulling</div></div>
      <div class="pretty p-switch p-fill"><input type="checkbox"><div class="state"><label></label></div><div class="categoryname">racism</div></div>
      <div class="pretty p-switch p-fill"><input type="checkbox"><div class="state"><label></label></div><div class="categoryname">PDA</div></div>
      <div class="pretty p-switch p-fill"><input type="checkbox"><div class="state"><label></label></div><div class="categoryname">crowded places</div></div>

          <div class="b bb_ settingsb"><!-- SYNTAX b="button",wb_="white button inside",homesignupb="signup button on home page" -->
            <button id="button" class="bb" type="button" name="button" >Sign up</button>
          </div>

    </form>
</div><!--content ends here-->

</div>

<style>
@media only screen and (max-width: 955px) {
    #web-version {
      display:none;
    }
    #mobile-version {
      display:block;
    }
    .web-nav,#feed-l,.uploadpost {
      display:none;
    }
    .mobile-nav,.close-m-search svg,.m-search {
      display:block;
    }
    .main-l-c{
      width:100%;
    }
    .main-r-c{
      width:100%;
    }
    .searches {
      height:100%;
      margin-bottom:50px;
      margin-top:0;
      margin-left:0;
      width:100%;
      z-index:1;
      box-shadow: none;
    }
    #profile_details input,select{
      margin:0 15px;
      }
    .notifications {
      width:100%;
      height:100%;
      box-shadow: none;
      z-index:1;
      margin:0;
      left: 50%;
      transform: translate(-50%, 0);

    }

    #t-not {
      position: relative;
    }
    #not{
      width:200px;
    }

    .feed {
      padding-top:0px;
      padding-bottom: 50px;
    }
    .post{
      max-width: none;
    }
    .p-bottom {
    margin-left: 0px;
    }
    .cover-photo {
      display:none;
    }
    .big-pfp {
      position: relative;
      background-size: 90px;
      width: 90px;
      height: 90px;
      margin:0 auto;
      margin-top:30px;
    }

    #e-l-l {
      width:100%;
      padding-left: 0px;
      text-align: center;
    }
    #e-l-r{
      display: none;
    }
    .setting-c{
      width:100%;
    }
}

</style>
<style>

@font-face {
font-family: MetropolisRegular;
src: url(fonts/Metropolis/OTF/Metropolis-Regular.otf);
}
@font-face {
font-family: MetropolisLight;
src: url(fonts/Metropolis/OTF/Metropolis-Light.otf);
}
@font-face {
font-family: MetropolisBold;
src: url(fonts/Metropolis/OTF/Metropolis-Bold.otf);
}
</style>
<script>
  $(document).ready(function(){
    $("#notificaion-b").click(function(){
        $(".notifications").show();
    });
    $(".search").click(function(){
        $(".searches").show();
    });
    $("#m-notificaion").click(function(){
        $(".notifications").show();
    });
    $("#m-search").click(function(){
        $(".searches").show();
    });
    $("#p-menu").click(function(){
        $("#p-m").show();
    });
    $(".close-m-search").click(function(){
        $(".searches").hide();
    });
    $("#up-b-picture").click(function(){
        $(".up-picture").show();
    });
    $("#up-b-people").click(function(){
        $(".up-people").show();
    });
    $("#up-b-location").click(function(){
        $(".up-location").show();
    });
    $("#m-up-b-picture").click(function(){
        $(".m-up-picture").show();
    });
    $("#m-up-b-people").click(function(){
        $(".m-up-people").show();
    });
    $("#m-up-b-location").click(function(){
        $(".m-up-location").show();
    });
    $("#m-upload").click(function(){
        $(".uploadpostmobile").show();
    });
});
$(document).mouseup(function (e)
{
    var container = new Array();
    container.push($('.notifications'));
    container.push($('.searches'));
    container.push($('.uploadpostmobile'));
    container.push($('#p-m'));
    container.push($('.up-location'));
    container.push($('.up-people'));
    container.push($('.up-picture'));
    container.push($('.m-up-location'));
    container.push($('.m-up-people'));
    container.push($('.m-up-picture'));
    $.each(container, function(key, value) {
        if (!$(value).is(e.target) // if the target of the click isn't the container...
            && $(value).has(e.target).length === 0) // ... nor a descendant of the container
        {
            $(value).hide();
        }
    });
});
</script>
  </body>
</html>
